// Imports
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Praise&display=swap");
@import "./components/responsive";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3cpath d='M436 260L812 -116' stroke-width='10' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M447 43L626 -136' stroke-width='6' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M545 394L330 609' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1425 169L1823 -229' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1208 198L840 566' stroke-width='6' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M517 457L249 725' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M970 422L1317 75' stroke-width='8' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1267 117L1587 -203' stroke-width='10' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M223 82L522 -217' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1189 530L1601 118' stroke-width='10' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M224 543L622 145' stroke-width='8' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M593 55L812 -164' stroke-width='6' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1359 249L1056 552' stroke-width='8' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M397 516L45 868' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M561 12L296 277' stroke-width='10' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1277 79L965 391' stroke-width='8' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M19 272L-309 600' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M584 321L221 684' stroke-width='8' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M955 123L1207 -129' stroke-width='10' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1326 459L1144 641' stroke-width='8' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1107 477L924 660' stroke-width='6' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1338 286L1161 463' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1029 537L1287 279' stroke-width='6' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1140 530L994 676' stroke-width='8' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M459 208L832 -165' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M720 116L518 318' stroke-width='8' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M860 489L1233 116' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1347 306L946 707' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M791 479L482 788' stroke-width='8' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M740 228L1091 -123' stroke-width='6' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M933 385L1218 100' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1101 323L1479 -55' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1368 137L1740 -235' stroke-width='6' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1190 80L1576 -306' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M519 25L143 401' stroke-width='8' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M563 302L327 538' stroke-width='6' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M518 98L208 408' stroke-width='6' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M879 379L1091 167' stroke-width='8' stroke='url(%23SvgjsLinearGradient1017)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M193 252L548 -103' stroke-width='10' stroke='url(%23SvgjsLinearGradient1018)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1017'%3e%3cstop stop-color='rgba(25%2c 135%2c 84%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(25%2c 135%2c 84%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1018'%3e%3cstop stop-color='rgba(25%2c 135%2c 84%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(25%2c 135%2c 84%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
}

h1 {
  font-size: 3.5rem !important;
}

p {
  color: rgb(138, 138, 138);
  font-weight: 500;
}

img {
  width: 50% !important;
  height: auto;
  border-radius: 50% !important;
  margin: 0 auto;
}

.navbar-brand {
  font: {
    family: Praise;
    size: 1.75rem !important;
  }
}

.steps {
  width: 30% !important;
  height: auto;
  border-radius: 50% !important;
  margin: 0 auto;
}

.row {
  //height: 80vh !important;
  margin: 2rem 0 5rem 0;
  padding: 2rem 0;
}

.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  visibility: hidden;
}

.frame {
  background-image: url(../images/frame-2.jpeg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
