/* // Responsive */

// 1. Laptop
@media only screen and (max-width: 992px) {
  .row {
    height: auto !important;
  }
  h1 {
    font-size: 0.5rem !important;
  }
  .steps {
    width: 100% !important;
  }
  .bg {
    min-height: 50%;
  }
}
